/* Navbar */

    @media (max-width: 991px) {
        nav .nav-desk {
            display: none;
        }

        nav .nav-mob {
            position: fixed;
            top: 13px;
            display: flex;
            align-items: center;
            width: 100%;
            z-index: 101;
            padding-left: 1.5rem;
        }

        nav .nav-mob .logo img {
            width: 80px;
        }
        nav .nav-mob .sub-nav-item {
            margin-left: auto;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 30px;
            font-size: 30px;
            padding-right: 3rem;
        }
        nav .nav-mob .sub-nav-item li button {
            outline: none;
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 3px;
            position: relative;
        }
        nav .nav-mob .sub-nav-item li .bar-1 {
            border: 3px solid black;
            width: 15px;
            transition: 0.3s;
        }
        nav .nav-mob .sub-nav-item li .bar-2 {
            border: 3px solid black;
            width: 30px;
            transition: 0.3s;
        }
        nav .nav-mob .sub-nav-item li .bar-3 {
            border: 3px solid black;
            width: 22px;
            transition: 0.3s;
        }
        nav .nav-mob .sub-nav-item li .bar-1.active-bar1  {
            width: 25px;
            transform: rotate(-50deg);
        }
        nav .nav-mob .sub-nav-item li .bar-2.active-bar2 {
            width: 0px;
            opacity: 0;
        }
        nav .nav-mob .sub-nav-item li .bar-3.active-bar3 {
            width: 25px;
            transform: rotate(50deg);
            position: absolute;
        }
        nav .nav-mob .sub-nav-item a{
            text-decoration: none;
            color: black;
        }
        nav .nav-mob .sub-nav-item a:hover {
            color: rgb(66, 66, 66);
            transition: 0.3s;
        }
        nav .nav-mob .sub-nav-item .button-nav {
            display: flex;
        }
        nav .nav-mob .sub-nav-item .button-nav #btn-1 {
            width: 50px;
            height: 38px;
            background-color: transparent;
            border-radius: 100px 0 0 100px;
            border: 1px solid black;
        }
        nav .nav-mob .sub-nav-item .button-nav #btn-1:hover {
            background-color: rgba(0,0,0,0.08);
            transition: 0.3s;
        }
        nav .nav-mob .sub-nav-item .button-nav #btn-2 {
            width: 50px;
            height: 38px;
            background-color: transparent;
            border-radius: 0 100px 100px 0;
            border: 1px solid black;
        }
        nav .nav-mob .sub-nav-item .button-nav #btn-2:hover {
            background-color: rgba(0,0,0,0.08);
            transition: 0.3s;
        }
        nav .nav-mob .sub-nav-item #search-bar-top-mob {
            opacity: 1;
            transition: 0.3s;
        }
        nav .nav-mob .sub-nav-item #search-bar-top-mob.active-search-bar-top-mob {
            opacity: 0;
        }
        nav .body-nav-mob { 
            background-color: #a0e7e5;
            height: 100vh;
            width: 100%;
            position: fixed;
            top: -100%;
            z-index: 100;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 35px;

            list-style: none;
            transition: 0.5s;
        }
        nav .body-nav-mob.active-body-nav-mob { 
            top: 0;
        } 
        
        nav .body-nav-mob #search-bar-mob input{
            width: 220px;
            height: 30px;
            background: transparent;
            border: 1px solid blue;
            outline: none;
            border-radius: 20px;
            padding: 0 20px;
        }

        /* Animation Navbar Min-Devices */
            nav .body-nav-mob li {
                opacity: 0;
                transform: translateY(-20px);
                transition: 
                    opacity 0.4s ease,
                    transform 0.4s ease;
            }
            nav .body-nav-mob.show-items li {
                opacity: 1;
                transform: translateY(0);
            }

            nav .body-nav-mob.show-items li:nth-child(1) { transition-delay: 0.1s; }
            nav .body-nav-mob.show-items li:nth-child(2) { transition-delay: 0.2s; }
            nav .body-nav-mob.show-items li:nth-child(3) { transition-delay: 0.3s; }
            nav .body-nav-mob.show-items li:nth-child(4) { transition-delay: 0.4s; }
            nav .body-nav-mob.show-items li:nth-child(5) { transition-delay: 0.5s; }
            nav .body-nav-mob.show-items li:nth-child(6) { transition-delay: 0.6s; }
            nav .body-nav-mob.show-items li:nth-child(7) { transition-delay: 0.7s; }

            nav .body-nav-mob li {
                transition-delay: 0s;
            }
        /* Close Animation Navbar Min-Devices */

        nav .body-nav-mob a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 25px;
        }
        nav .body-nav-mob .button-nav {
            display: flex;
        }
        nav .body-nav-mob .button-nav #btn-1 {
            width: 50px;
            height: 38px;
            background-color: transparent;
            border-radius: 100px 0 0 100px;
            border: 1px solid black;
            font-size: 20px;
            font-weight: bold;
        }
        nav .body-nav-mob .button-nav #btn-1:hover {
            background-color: rgba(0,0,0,0.08);
            transition: 0.3s;
        }
        nav .body-nav-mob .button-nav #btn-2 {
            width: 50px;
            height: 38px;
            background-color: transparent;
            border-radius: 0 100px 100px 0;
            border: 1px solid black;
            font-size: 20px;
            font-weight: bold;
        }
        nav .body-nav-mob .button-nav #btn-2:hover {
            background-color: rgba(0,0,0,0.08);
            transition: 0.3s;
        }
    }

/* Close Navbar */


/* Aside */

    @media (max-width: 991px) {
        .right-aside {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 80px;
            background-color: #a0e7e5;
            z-index: 101;
            display: flex;
            flex-direction: row;
        }

        .right-aside ul {
            list-style: none;
            padding: 0;
            margin: 0;
            
            flex: 1;
            display: flex;
            flex-direction: row;
        }
        
        .right-aside li {
            text-transform: uppercase;
            font-weight: bold;
            flex: 1;
            width: 100%;

        }

        .right-aside a {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%; 
            
            position: relative;

            padding: 0 auto;
            box-sizing: border-box;  
            text-decoration: none;
            color: black;
            background-color: aqua;
            font-size: 10px;
            transition: 0.3s ease;
            gap: 10px;
        }

        .right-aside a > i{ 
            font-size: 20px;
        }
        
        .right-aside a::after  {
            content: "";
            position: absolute;
            left: 0;
            border-left: 1px solid rgba(0, 0, 0, 0.3);
            height: 60px;
        }
        
        @media (max-width: 767px) {
            .right-aside a {
                font-size: 8px;
            }
        }
        
        @media (max-width: 599px) {
            .right-aside a {
                font-size: 7px;
            }
        }
    }

/* Close Aside */

/* Head Content */

    @media (max-width: 991px) {

        .head-content{
            margin-right: 0;
        }

        @media (max-width: 767px) {
            .head-content {
                padding: 0 25px;
            }
            .head-content .hhsddfds {
                width: 550px;
                height: auto;
                display: flex;
                flex-direction: column;
            }
            .head-content .search-bar-head {
                position: relative;
                width: 550px;
            }

            .head-content .hhsddfds .hhsddfds-1 .carousel {
                height: 260px;
            }
            
            .head-content .hhsddfds .hhsddfds-2 {
                height: 200px;
                border-radius: 10px;
            }
        }

        @media (max-width: 599px) {
            .head-content .hhsddfds {
                width: 100%;
                height: 500px;
            }
            .head-content .search-bar-head {
                position: relative;
                width: 100%;
            }
        }
        
    }

/* Close Head Content */

/* Content Body */


    @media (max-width: 991px) {
        .tessitytyysi {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            margin-right: 0px;
            margin-top: 30px;
            margin-bottom: 40px;
            padding: 15px;
            gap: 50px;
        }
        .tessitytyysi .xxlkfssdds {
            display: grid;
            gap:3.5rem;
            grid-template-columns: repeat(2, 1fr);
        }


        .tessitytyysi .jjSdrdds .jjSdrddsss {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        
        .tessitytyysi .jjSdrdds .jjSdrddsss .card-1 .card {
            width: 100%;
            height: auto;
            border-radius: 12px;
            overflow: hidden;
            background-color: #a0e7e5;
        }

        .tessitytyysi .jjSdrdds .jjSdrddsss .card-1 .card .card-img img {
            width: 100%;
            height: 300px;
            object-fit: cover;     /* gambar tidak gepeng */
            display: block;
        }

        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 20px; /* vertical 20px, horizontal 50px */
        }
        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 .card {
            width: 100%;
            height: 100px;
            display: flex;
            border-radius: 12px;
            overflow: hidden;
            background-color: #a0e7e5;
        }
        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 .card .card-body {
            display: flex;
            flex-direction: column ;
            gap: 20px;
        }

        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 .card .card-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        @media (max-width: 599px) {
            
            .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    
        
    @media (max-width: 599px) {
        /* Container horizontal scroll */
        .tessitytyysi .xxlkfssdds {
            display: flex;
            gap: 16px;
            overflow-x: auto;
            padding: 10px;

            /* Mobile scroll smooth */
            -webkit-overflow-scrolling: touch;
            scroll-behavior: smooth;
        }

        /* Hilangkan scrollbar (optional) */
        .tessitytyysi .xxlkfssdds::-webkit-scrollbar {
        }

        /* Card */
        .tessitytyysi .xxlkfssdds .card {
            min-width: 120px;  /* penting agar horizontal */
            flex-shrink: 0;
            background-color: #a0e7e5;
            border-radius: 10px;
            overflow: hidden;
        }
    }

/* Close Content Body */

/* Footer */
@media (max-width: 991px) { 
    footer {
        margin-right: 0px;
    }
}

/* Close Footer */