/* Navbar */

    @media (min-width: 992px) {
        nav .nav-mob,
        nav .body-nav-mob {
            display: none;
        }
        nav .nav-desk {
            position: fixed;
            top:1%;
            left: 47%;
            transform: translate(-50%, 0%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 800px;
            z-index: 100;
            transition: 0.3s ease;
        }
        nav .nav-desk.scroll {
            left: 50%;
        }
        nav .nav-desk .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        nav .nav-desk .logo img {
            width: 80px;
        }
        nav .nav-desk .sub-nav-item {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 30px;
            margin-left: auto;
            margin-right: 100px;
        }
        nav .nav-desk .sub-nav-item a{
            text-decoration: none;
            color: white;
        }
        nav .nav-desk .sub-nav-item a:hover {
            color: rgb(66, 66, 66);
            transition: 0.3s;
        }
        nav .nav-desk .sub-nav-item .button-nav {
            display: flex;
        }
        nav .nav-desk .sub-nav-item .button-nav #btn-1 {
            width: 50px;
            height: 38px;
            background-color: transparent;
            border-radius: 100px 0 0 100px;
            border: 1px solid white;
            color: white;
        }
        nav .nav-desk .sub-nav-item .button-nav #btn-1:hover {
            background-color: rgba(0,0,0,0.08);
            transition: 0.3s;
        }
        nav .nav-desk .sub-nav-item .button-nav #btn-2 {
            width: 50px;
            height: 38px;
            background-color: transparent;
            border-radius: 0 100px 100px 0;
            border: 1px solid white;
            color: white;
        }
        nav .nav-desk .sub-nav-item .button-nav #btn-2:hover {
            background-color: rgba(0,0,0,0.08);
            transition: 0.3s;
        }

        @media (min-width: 1199px) {
            nav .nav-desk {
                width: 1000px;
            }
        }
    }

/* Close Navbar */

/* Aside */

    @media (min-width: 992px) {
        .right-aside {
            position: fixed;
            right: 0;
            top: 0;
            width: 210px;
            height: 101vh;
            background-color: #a0e7e5;
            z-index: 101;
            display: flex;
            flex-direction: column;
            transition: 0.3s ease;
        }

        .right-aside ul {
            position: relative;
            list-style: none;
            padding: 0;
            margin: 0;
            
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .right-aside ul li {
            text-transform: uppercase;
            font-weight: bold;
            flex: 1;
            width: 100%;
        }

        .right-aside ul li a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%; 
            
            position: relative;

            padding: 0 20px;
            box-sizing: border-box;  
            text-decoration: none;
            color: black;
            background-color: aqua;
            font-size: 16px;
            transition: 0.3s ease;
            gap: 12px;
        }

        .right-aside a > i { 
            font-size: 24px;
            text-align: center;
        }
        
        .right-aside .text {
            white-space: nowrap;
            transition: 
                opacity 0.3s ease,
                transform 0.3s ease;
        }
        
        .right-aside.collapsed {
            width: 90px;
        }

        .right-aside.collapsed li a {
            justify-content: center;
        }

        .right-aside.collapsed .text {
            display: none;
        }

        .right-aside a::after  {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 40px); /* ❗ RESPONSIF */
            border-bottom: 1px solid rgba(0,0,0,.3);
        }

        .body-right-aside {
            position: absolute;
            opacity: 0;
            z-index: -100;
            right: 0px;
            width: 220px;
            height: 100vh;
            padding: 1rem;
            transition: margin-right 0.3s ease;
            background-color: #00cfc8;

            transition: 0.3s ease;
        }

        .body-right-aside.clicked {
            opacity: 1;
            right: 210px;
        }
        .content-panel {
            display: none;
            animation: fadeSlide 0.3s ease;
        }

        .content-panel.active {
            display: block;
        }

        @keyframes fadeSlide {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        .right-aside a.active {
            background-color: #00cfc8;
            color: #000;
        }

    }

/* Close Right Aside */


/* Head Content */

    @media (min-width: 992px) {
        .head-content{
            margin-right: 200px;
            transition: 0.3s ease;
            
        }
        .head-content.scroll {
            margin-right: 90px;
        }

    }

/* Close Head Content */

/* Content Body */

    @media (min-width: 992px) {
        .tessitytyysi {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            margin-right: 90px;
            margin-top: 30px;
            margin-bottom: 40px;
            padding: 15px;
            gap: 50px;
        }
        .tessitytyysi .xxlkfssdds {
            display: grid;
            gap:1rem;
            grid-template-columns: repeat(4, 1fr);
        }


        .tessitytyysi .jjSdrdds .jjSdrddsss {
            display: flex;
            gap: 20px;
        }

        .tessitytyysi .jjSdrdds .jjSdrddsss .card-1 .card {
            width: 320px;
            height: 100%;
            border-radius: 12px;
            overflow: hidden;
            background-color: #a0e7e5;
        }

        .tessitytyysi .jjSdrdds .jjSdrddsss .card-1 .card .card-img img {
            width: 100%;
            height: 300px;
            object-fit: cover;     /* gambar tidak gepeng */
            display: block;
        }

        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 .card {
            width: 100%;
            height: auto;
            display: flex;
            border-radius: 12px;
            overflow: hidden;
            background-color: #a0e7e5;
        }
        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 .card .card-img {
            width: 120px;
            height: 120px;
        }
        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 .card .card-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;     /* gambar tidak gepeng */
            display: block;
        }
        .tessitytyysi .jjSdrdds .jjSdrddsss .card-2 .card .card-body {
            display: flex;
            flex-direction: column ;
            gap: 20px;
            padding: 0.3rem 0 0.3rem 0.5rem ;
        }
    }

/* Close Content Body */